<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="dev.local.showdownnative"
    android:versionCode="1" android:versionName="0.1.0">
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:label="Showdown 原生实验版（非官方）" android:icon="@drawable/app_icon" android:roundIcon="@drawable/app_icon" android:usesCleartextTraffic="false" android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <activity android:name=".MainActivity" android:exported="true" android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
